<a href="https://colab.research.google.com/github/MehulLuthra/COGNITIVE_COMPUTING/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
l=[10,20,30,40,50,60,70,80]
l.append(200)
l.append(300)
print(l)
l.remove(10)
l.remove(30)
print(l)
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [6]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest score: {highest_score}, Index: {highest_index}")


lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {lowest_count}")

reversed_scores = list(scores[::-1])
print(f"Reversed tuple as list: {reversed_scores}")


specific_score = int(input("enter the number"))
if specific_score in scores:
    specific_index = scores.index(specific_score)
    print(f"The score {specific_score} is present at index: {specific_index}")
else:
    print(f"The score {specific_score} is not present in the tuple.")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the number92
The score 92 is present at index: 5

In [9]:
import random
random_number = [random.randint(100, 900) for _ in range(100)]
print(random_number)
def isprime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True


prime_numbers = [num for num in random_number if isprime(num)]
print(prime_numbers)
odd=[num for num in random_number if num%2!=0]
print(odd)
even=[num for num in random_number if num%2==0]
print(even)

[799, 269, 100, 285, 244, 797, 759, 490, 743, 196, 813, 118, 417, 620, 724, 290, 394, 359, 330, 763, 825, 787, 593, 337, 608, 213, 130, 128, 469, 516, 538, 655, 214, 326, 443, 428, 219, 832, 789, 267, 687, 788, 679, 616, 550, 106, 231, 497, 211, 110, 147, 484, 504, 766, 299, 122, 714, 890, 516, 553, 657, 742, 127, 786, 162, 278, 183, 868, 663, 738, 878, 324, 707, 712, 248, 264, 497, 790, 533, 538, 159, 841, 115, 328, 736, 356, 120, 384, 656, 163, 330, 207, 301, 252, 674, 583, 108, 273, 560, 330]
[269, 797, 743, 359, 787, 593, 337, 443, 211, 127, 163]
[799, 269, 285, 797, 759, 743, 813, 417, 359, 763, 825, 787, 593, 337, 213, 469, 655, 443, 219, 789, 267, 687, 679, 231, 497, 211, 147, 299, 553, 657, 127, 183, 663, 707, 497, 533, 159, 841, 115, 163, 207, 301, 583, 273]
[100, 244, 490, 196, 118, 620, 724, 290, 394, 330, 608, 130, 128, 516, 538, 214, 326, 428, 832, 788, 616, 550, 106, 110, 484, 504, 766, 122, 714, 890, 516, 742, 786, 162, 278, 868, 738, 878, 324, 712, 248, 264, 790, 538, 328, 736, 356, 120, 384, 656, 330, 252, 674, 108, 560, 330]

In [11]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_scores = A.union(B)
print(f"Unique scores (union): {union_scores}")

intersection_scores = A.intersection(B)
print(f"Common scores (intersection): {intersection_scores}")

symmetric_difference_scores = A.symmetric_difference(B)
print(f"Exclusive scores (symmetric difference): {symmetric_difference_scores}")

is_subset = A.issubset(B)
print(f"Are team A's scores a subset of team B? {is_subset}")

is_superset = B.issuperset(A)
print(f"Are team B's scores a superset of team A? {is_superset}")

X = int(input("Enter a score to remove from team A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from team A. Updated team A scores: {A}")
else:
    print(f"Score {X} is not present in team A.")

Unique scores (union): {34, 45, 78, 23, 56, 90}
Common scores (intersection): {90, 78}
Exclusive scores (symmetric difference): {34, 45, 23, 56}
Are team A's scores a subset of team B? False
Are team B's scores a superset of team A? False
Enter a score to remove from team A: 90
Score 90 removed from team A. Updated team A scores: {56, 34, 78}

In [13]:
sample_dict={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
if "city" in sample_dict:
    sample_dict["location"] = sample_dict.pop("city")
    print("Updated dictionary:", sample_dict)
else:
    print("Key 'city' not found in the dictionary.")

Updated dictionary: {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}